header {
    background-color: gray;
    width: 300px;
    height: 50px;
    position: absolute;
}

main {
    background-color: white;
    height: 225px;
    width: 225px;
    position: relative;
    left: 42px;
    top: 58px;
    position: absolute;
}

footer {
    background-color: black;
    height: 40px;
    width: 225px;
    position: relative;
    left: 42px;
    top: 268px;
    position: absolute;
}

div {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    z-index: -1;
    position: absolute;
}